<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<div class="container">
    Your
    <div class="stack" style="--stacks: 3;">
        <span style="--index: 0;">Index</span>
        <span style="--index: 1;">Index</span>
        <span style="--index: 2;">Index</span>
    </div>
    <span class="right">Page</span>
</div></body>
</html>